@import '../containers/**/*.styl';
@import '../components/**/*.styl';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica Neue, sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
}
